<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web-based Video Converter</title>
</head>
<body>
  <h1 style="margin: auto; padding-bottom: 0.5em;">Web-based Video Converter</h1>
  {% for message in get_flashed_messages() %}
  <p>{{ message }}</p>
  {% endfor %}
  <form
    action="http://localhost:5000/convert"
    method="POST"
    enctype="multipart/form-data"
  >
    <input type="file" name="input-video" />
    <label for="output-format">to:</label>
    <select name="output-format">
      <optgroup label="Video">
        <option>mp4</option>
        <option>flv</option>
        <option>avi</option>
        <option>webm</option>
        <option>mov</option>
      </optgroup>
      <optgroup label="Audio">
        <option>mp3</option>
        <option>aac</option>
        <option>wav</option>
        <option>flac</option>
        <option>ogg</option>
      </optgroup>
    </select>
    <input type="submit" value="Convert" />
  </form>
</body>
</html>